@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;
  }
  
  @media (min-width: 640px) {
    .container {
      padding-inline: 2rem;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      padding-inline: 0;
    }
  }

  .gradient {
    background-image: linear-gradient(
      90deg,
      rgba(229, 156, 255, 0.24) 0.01%,
      rgba(186, 156, 255, 0.24) 50.01%,
      rgba(156, 178, 255, 0.24) 100%
    );
  }

  .gradient-2 {
    background-image: linear-gradient(
      90deg,
      #fc72ff 0%,
      #8f68ff 25%,
      #487bff 50%,
      #2cd9ff 75%,
      #2cffcc 100%
    );
  }

  .gradient-3 {
    background-image: linear-gradient(251.09deg, #701efc 5.04%, #cbb3f3 96.95%);
  }

  .gradient-4 {
    background-image: linear-gradient(
      90deg,
      #e59cff 0.01%,
      #ba9cff 50.01%,
      #9cb2ff 100%
    );
  }

  .gradient-border {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }

  .hero-subtitle-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
  }
  
  .hero-subtitle-gradient:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.11) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .hero-subtitle-hover {
    box-shadow: inset 0 -7px 11px #a48fff3d;
  }

  .hero-subtitle-text {
    background: -webkit-linear-gradient(
        90deg,
        #e59cff 0.01%,
        #ba9cff 50.01%,
        #9cb2ff 100%
      ),
      -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-button-gradient {
    box-shadow: 0px -3px 10px 0px #00000040 inset;
    background: linear-gradient(180deg, #a073ee -11.11%, #6e25ed 100%);
  }

  .hero-circle-gradient:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.08) 100%
    );
  }

  .features-row-border {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .features-bg {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }

  .icon-border {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.0288) 0%,
      rgba(255, 255, 255, 0.06) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .icon-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.15) 50.52%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .nav-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 10.51%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 50px;
  }
  
  .nav-gradient::before {
    content: "";
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 2.56%,
      rgba(255, 255, 255, 0.4) 51.48%,
      rgba(255, 255, 255, 0) 97.44%
    );
    height: 1px;
    position: absolute;
    top: 0;
    width: 50%;
    transform: translateX(-50%);
    left: 50%;
  }

  .features-box-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      106.24deg,
      rgba(255, 255, 255, 0.15) -0.68%,
      rgba(255, 255, 255, 0) 98.03%
    );
  }

  .features-button-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .features-button-gradient:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      90deg,
      rgba(229, 156, 255, 0.45) 0.01%,
      rgba(186, 156, 255, 0.45) 50.01%,
      rgba(156, 178, 255, 0.45) 100%
    );
  }

  .button-border-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .button-border-gradient:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      90deg,
      rgba(229, 156, 255, 0.45) 0.01%,
      rgba(186, 156, 255, 0.45) 50.01%,
      rgba(156, 178, 255, 0.45) 100%
    );
  }

  .button-gradient-hover {
    box-shadow: inset 0px -6px 17px rgba(156, 178, 255, 0.3),
      inset 0px 6px 17px rgba(229, 156, 255, 0.3);
  }

  .box-hover::before {
    transition-duration: 500ms;
    transition-property: opacity;
    filter: blur(100px);
    opacity: 0;
    background-color: #8646f4;
    border-radius: 9999px;
    width: 24rem;
    height: 24rem;
    z-index: 30;
    position: absolute;
    top: -12rem;
    left: -12rem;
    pointer-events: none;
    transform: translate(var(--mouse-x), var(--mouse-y));
  }
  
  .box-hover:hover::before {
    opacity: 0.2;
  }
  
  .box-hover::after {
    transition-duration: 500ms;
    transition-property: opacity;
    opacity: 0;
    border-radius: inherit;
    z-index: 10;
    inset: 0;
    position: absolute;
    background: radial-gradient(
      180px circle at var(--mouse-x) var(--mouse-y),
      #030014,
      transparent
    );
  }
  
  .box-hover:hover::after {
    opacity: 1;
  }

  .box-hover-small::before {
    filter: blur(50px) !important;
    width: 12rem;
    height: 12rem;
    top: -6rem;
    left: -6rem;
  }

  .box-bg {
    background: radial-gradient(
      180px circle at var(--mouse-x) var(--mouse-y),
      #030014,
      transparent
    );
  }

  .form-box-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .form-box-gradient:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .footer-bg-gradient {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .footer-divider-gradient {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .pricing-gradient-text {
    background: -webkit-linear-gradient(
      0deg,
      #e59cff 0.01%,
      #ba9cff 50.01%,
      #9cb2ff 100%
    ),
    -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .pricing-gradient-divider {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .pricing-item-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      106.24deg,
      rgba(255, 255, 255, 0.08) -0.68%,
      rgba(255, 255, 255, 0) 98.03%
    );
  }

  .pricing-button-gradient {
    background: linear-gradient(
      180deg,
      rgba(138, 96, 238, 0.8) 0%,
      rgba(114, 47, 224, 0.8) 100%
    );
  }

  .pricing-button-gradient:hover {
    background: linear-gradient(
      180deg,
      rgba(138, 96, 238, 1) 0%,
      rgba(114, 47, 224, 1) 100%
    );
  }

  .pricing-circle:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 3px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(168, 85, 247, 0.7) 65%,
      rgba(217, 70, 239, 0.9) 80%,
      rgba(245, 158, 255, 1) 90%,
      rgba(255, 255, 255, 0.95) 100%
    );
    filter: brightness(1.3);
  }

  .pricing-grid-border {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: rgba(229, 231, 235, 1);
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply relative text-base font-normal font-plus-jakarta text-dark-3 z-1 bg-dark;
  }
}
